body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

#nav {
    width: 100vw;
    height: 10vh;
    position: relative;
}

/* Styles for the Event Generator Form */
#ics-form-container {
    position: relative;
    width: 80%;
    left: calc(10% - 10px);
    padding: 10px;
    background-color: rgba(15, 15, 27, 0.8);
    color: white;
    font-size: 14px;
}

/* Styles for the form lables */
#ics-form-container .event-form-label {
    width: 23%;
    display: inline-block;
}

#ics-form-container input,
select {
    padding: 4px;
    margin: 2px 0 2px 0;
}

#ics-form-container .input-area {
    width: 70%;
    display: inline-block;
    transition: width 0.2s linear;
}

.long {
    width: 100%;
}

.warning {
    color: red;
    width: 0;
    opacity: 0;
    display: inline-block;
    transition: width 0.2s linear, opacity 0.2s linear;
    margin-left: 2%;
}


/* Style for the generate file button */
.generate-button {
    background-color: rgba(41, 42, 120, 0.6);
    color: white;
    text-align: center;
    width: 120px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.generate-button:hover {
    background-color: rgba(41, 42, 120, 1);
}